.img-card {
  width: 100%;
  height: 10rem;
  transition: all ease 0.4s;
}

.container-img-list:hover .img-card {
  filter: brightness(0.2);
}

.container-img-list:hover .text-inside {
  opacity: 1;
}
.container-img-list {
  position: relative;
  width: 16rem;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.4s;
  text-decoration: none;
  flex: 1 0 15%; /* explanation below */
}

.text-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  transition: all ease 0.4s;
  color: white;
}

.searcher {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

@media (max-width: 992px) {
  .container-img-list {
    flex: 1 0 25%;
  }
}

.modal-content {
  border: 2px white solid;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
